#question-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

#id_content {
    width: -moz-available;
}

#question-form>button:nth-child(3) {
    width: 101px;
}

body>main:nth-child(1) {
    display: flex;
    justify-content: center;
}